/** COLORS **/

// Primary colors
$primary-color-black: #333333;

/** TYPOGRAPHY **/

// Break points
$desktopFull: 1712px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 320px;

// Screen width
$maxWidthScreen: 1712px;