.registration-form {
  @include flex-container(column, flex-start, flex-start, nowrap);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(243, 243, 243);

  label {
    font-size: 14px;
    color: #555;
    margin-bottom: 2px;
  }

  select {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  &__email-block {
    margin-bottom: 8px;

    &__up-line {
      @include flex-container(row, flex-start, flex-end, nowrap);
      gap: 10px;

      &__btn {
        margin-bottom: 18px;
        padding: 5px;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }

        &--disabled {
          cursor: default;
          background-color: gray;

          &:hover {
            background-color: gray;
          }
        }

        &--email-verified {
          background-color: green;
          cursor: default;

          &:hover {
            background-color: green;
          }
        }
      }
    }

    &__code {
      gap: 5px;
      margin-top: 5px;

      input {
        width: 20px;
        border: none;
        border-bottom: 1px solid rgb(0, 4, 255);
        background-color: #f1f1f1;
        border-radius: 0px;
        text-align: center;
      }

    &--email-verified {
      input {
        border-bottom: 1px solid green;
        color: rgb(141, 160, 142)
      }
    }
    }
  }

  &__password-block {
    @include flex-container(row, flex-start, flex-end, nowrap);
    gap: 10px;
  }
}
